body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.login-container {
    width: 300px;
    padding: 40px;
    margin: 100px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}

.login-container input:focus {
    transform: perspective(800px) rotateX(2deg) rotateY(2deg);
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    outline: none;
}



.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

.login-container button:hover {
    background-color: #45a049;
}
